<p-table [value]="books">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td *ngFor="let col of cols">
                <a *ngIf="col.field === 'id'" (click)="onBookDetails(car[col.field])">{{car[col.field]}}</a>
                <p *ngIf="col.field !== 'id' && col.field !== 'action'">
                {{car[col.field]}}
                </p>
                <p *ngIf="col.field === 'action'">
                    <button>delete</button>
                </p>
            </td>
        </tr>
    </ng-template>
</p-table>
