<p-table [value]="books">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr *ngFor="let book of books">
            <td>
                <a (click)="onBookDetails(book.id)" class="table-page-click">{{book.id}}</a>
            </td>
            <td (click)="onAuthorPage(book.id)" class="table-page-click">
                {{book.author}}
            </td>
            <td>
                {{book.title}}
            </td>
            <td>
                <button pButton type="button"
                        icon="pi pi-times"
                        class="p-button-danger p-button-rounded"
                        (click)="onDeleteBook(book.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
